<footer class="">
  <div class="container py-5 w-75 mx-auto">
    <div class="d-flex align-items-center py-3">
      <i class="fa-solid fa-scale-balanced main-color fa-2x me-2"></i>
      <h1 class="">Ask Lawyer</h1>
    </div>
    <div class="row pt-4 justify-content-between">
      <div class="col-md-3">
        <h3>JustAnswer</h3>
        <ul class="list-unstyled">
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>JustAnswer</h3>
        <ul class="list-unstyled">
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>JustAnswer</h3>
        <ul class="list-unstyled">
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
