<section class="py-5">

  <div style="background-image: url(assets/images/Legal_bg.jpg);" class="container con-hero p-3">
    <div>
      <button  routerLink="../addLawyer" class="btn ms-auto d-block btn-outline-light">Register</button>
    </div>
    <div class="content   p-2 text-white">
      <h1>Grow your office and increase the number of your clients</h1>
      <h2>Join Lawyer.com and receive new clients in your area</h2>
    </div>
  </div>
</section>

<section class="py-5">
<div class="container py-5">
  <div class="row g-5">
    <div class="col-md-4 text-center shadow ">
      <div class="my-card">
        <div class="icon mb-4">
          <i class="fa-solid fa-2x main-color fa-pen-to-square"></i>
        </div>
        <div class="desc">
          <h4>We receive the case</h4>
          <p>The client presents his case or legal problem to Dotcom's lawyer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center shadow ">
      <div class="my-card">
        <div class="icon mb-4">
<i class="fa-regular main-color fa-3x fa-comments"></i>
        </div>
        <div class="desc">
          <h4>We send the case to lawyerse</h4>
          <p>We present the case that the client sent to the lawyers close to him with ease through the means of communication that
          suits them (WhatsApp - Messenger).</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center shadow ">
      <div class="my-card">
        <div class="icon mb-4">
          <i class="fa-solid fa-2x main-color fa-pen-to-square"></i>
        </div>
        <div class="desc">
          <h4>The lawyer makes his presentation</h4>
          <p>The lawyer submits his offer for the case, including (the fees and the duration for completing the legal work), so that
          the client chooses the offer that suits him from the limited number of offers presented to him.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<section class="py-5">
  <div class="container py-5">
    <div class="row justify-content-around g-5 align-items-center">
      <div class="col-md-6">
        <h2>Receive new issues easily through the communication method you choose</h2>
        <p>Also present your offers via the communication method you choose (WhatsApp - Messenger - phone call) and wait for
        communication from customers who are satisfied with your offers.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/row1.jpg" class="w-100" alt="">
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-4">
       <div class="d-flex">
        <i class="fa-solid fa-chart-bar fa-2x main-color me-4"></i>
        <h3> statistics</h3>
       </div>
      </div>
      <div class="row col-md-6 justify-content-between text-center">
          <div class="col-md-5">
            <h4 class="main-color fw-bolder h2">1000</h4>
            <h5>Monthly visitors looking for lawyers</h5>
          </div>
          <div class="col-md-5">
            <h4 class="main-color fw-bolder h2  ">500</h4>
            <h5>Cases monthly for lawyers through us</h5>
          </div>
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container py-5">
    <div class="row justify-content-around g-5 align-items-center">
      <div class="col-md-5">
        <img src="assets/images/row2.jpg" class="w-100" alt="">
      </div>
      <div class="col-md-6">
        <h2>Direct contact with long-term customers</h2>
        <p>50% of the clients you get through our platform will re-agree with you on other issues after that, which doubles your
        gains from every client you get.</p>
      </div>
    </div>
  </div>
</section>



<section class="py-5">
  <div class="container py-5 text-center">
    <h3 class="h1 mb-5">Ready to work with Lawyer.com !</h3>
    <a class="btn btn-outline-info fw-bolder text-decoration-none" routerLink="../addLawyer">Subscribe Now </a>
  </div>
</section>
