.con-hero
{
  height: 70vh;
  width: 80%;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 20px #666;
  .content{
    margin-top: 14rem !important;
  }
}

.container{
  width: 80%;
}
